body {
  color: #
  margin: 0;
  text-align: center;
  font-family: 'Merriweather Sans', serif;
  font-size:200%;
}

h1{
  color: #66BFBF;
  font-size:5.625rem;
  line-height: 0;
  margin-top:0;
  font-family: 'Sacramento', cursive;
}
h2{
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size:2.5rem;
  font-weight: normal;
}
h3{
  font-family: 'Montserrat', sans-serif;
}
.top-container{
  background-color: #E4F9F5;
  position: relative;
  padding-top:100px;
}

.middle-container{

}

.bottom-container{

}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  line-height: 2;
}

.pro{
  text-decoration: underline;
}
.bottomcloud{
  position: absolute;
  right: 300px;
  top: 50px;

}
.cVedha profile picture{
  width:25%;
}
